User: <%= @user.name %><br />
<div style="color: Red;"><%= flash[:error] %></div>
<%= form_tag :action => 'change_password' do %>
	<%= hidden_field_tag 'user_id', @user.id  %>
	Enter old Password:<%= password_field_tag('oldpassword') %><br />
	Enter new Password:<%= password_field_tag('newpassword1') %><br />
	Enter new Password again:<%= password_field_tag('newpassword') %><br />
	<%= submit_tag 'OK' %>
<% end %>

<a href="/">Main page</a>